<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/style.css">

    <% if(eleve != null) { %>
        <title><%= eleve.prenom %> <%= eleve.nom %></title>
    <% } else { %>
        <title>Profil inexistant</title>
    <% } %>
    
</head>

<body>
    <% if(eleve != null){ %>
        

        <p>
            Prénom : <%= eleve.prenom %>
        </p>
        <p>
            Nom : <%= eleve.nom %>
        </p>
        <p>
            Date de naissance : <%= eleve.date_naissance %>
        </p>
        <p>
            Ville de naissance : <%= eleve.ville_naissance %>
        </p>
        <p>
            Pays de naissance : <%= eleve.pays_naissance %>
        </p>
        <p>
            Etablissement précédent : <%= eleve.etablissement_precedent %>
        </p>
        <p>
            Sexe : <%= eleve.sexe %>
        </p>
        <p>
            Photo : <%= eleve.photo %>
        </p>
        <p>
            Date d'inscription : <%= eleve.date_inscription %>
        </p>
        <p>
            Convocation : <%= eleve.convocation %>
        </p>
        <p>
            Bulletin : <%= eleve.bulletin %>
        </p>
    
        <% if (sante != null) { %>
            
            <h1>Santé</h1>

            <p>
                Médecin : <%= sante.prenom_medecin + ' ' + sante.nom_medecin %>
            </p>
            <p>
                Tél. médecin : <%= sante.telephone_medecin %>
            </p>
            <p>
                Remarques : <%= sante.remarques_medicales %>
            </p>
    
        <% } %>
        
        <% if (contacts != null) { %>
        
            <h1>Contacts</h1>
            
            <% contacts.forEach(function(contact){ %>
                <p>
                    <% if(!contact.prenom_contact) { %>
                        <strong>Adresse personnelle</strong>
                    <% } %>
                    <%= contact.prenom_contact %> 
                    <%= contact.nom_contact %> 
                    <%= contact.adresse %> 
                    <%= contact.cp %> 
                    <%= contact.ville %> 
                    <%= contact.telephone_domicile %> 
                    <%= contact.telephone_mobile %> 
                    <%= contact.email %> 
                    
                </p>
            <% }); %>
    
        <% } %>


    
    <%} else { %>
    
        <p>Ce matricule ne correspond à aucun élève de la base de donnée.</p>
    
    <% } %>
    
</body>
</html>