<html>
    <head>
        <meta charset='utf-8'/>
        <link rel=stylesheet href="../css/bootstrap.css">
        <link rel=stylesheet href="../css/adm.css">
    </head>
    <body>
        <div class="container">
            <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#formModal">
                Ajouter un billet
            </button>

            <% billets.forEach(function(billet){ %>
                <div class="well">
                    
                    <a href="../blog/<%= billet.keyword %>"><b><%= billet.title %></b> - <%= billet.keyword %></a>
                    
                    <button type="button" class="btn btn-danger pull-right delete-post" data-id="<%= billet.keyword %>">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    
                    <button type="button" class="btn btn-default pull-right edit-post"
                            data-toggle="modal"
                            data-target='#editFormModal'
                            data-keyword="<%= billet.keyword %>"
                            data-title="<%= billet.title %>"
                            data-text="<%= billet.text %>"
                            >
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                </div>
            <% }); %>

        </div>
        
        <!-- ################################################################################# -->
        
        <script src="../js/jquery.js"></script>
        <script src='../js/bootstrap.js'></script>
        <script src='../js/main.js'></script>

        <!-- Modal d'ajout de billet -->
        <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <form method="post" action="/addPost" enctype="multipart/form-data">                    
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Ajouter un billet</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Mot-clé du billet</label>
                            <input type="text" class="form-control" name="keyword"/>
                        </div>
                        <div class="form-group">
                            <label>Titre du billet</label>
                            <input type="text" class="form-control" name="title"/>
                        </div>
                        <div class="form-group">
                            <label>Couverture</label>
                            <input type="file" class="form-control" name="img"/>
                        </div>
                        <div class="form-group">
                            <label>Contenu</label>
                            <textarea class="form-control" name="text"></textarea>
                        </div>
                        
                        <input type="hidden" value="false" name="notification" id="notifier">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="notification" class="btn btn-warning">
                            Notification
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Poster"/>
                        <p style="display: none;" id="tip">Une notif sera envoyée.</p>
                    </div>
                </form>
                </div>
            </div>
        </div>
        
        
        <!-- Modal d'édition de billet -->
        <div class="modal fade" id="editFormModal" tabindex="-1" role="dialog" aria-labelledby="editFormModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <form method="post" action="/editPost">
                    <input type="hidden" id="edit-form-id" name="id" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Ajouter un billet</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Mot-clé du billet</label>
                            <input type="text" class="form-control" name="keyword" id="edit-form-keyword"/>
                        </div>
                        <div class="form-group">
                            <label>Titre du billet</label>
                            <input type="text" class="form-control" name="title" id="edit-form-title"/>
                        </div>
                        <div class="form-group">
                            <label>Contenu</label>
                            <textarea class="form-control" name="text" id="edit-form-text"></textarea>
                        </div>
                        
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Poster"/>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </body>
</html>