<html>
	<head>
		<meta charset='utf-8'/>
		<link rel=stylesheet href="../css/bootstrap.css">
		<link rel=stylesheet href="../css/billet.css">
        <title><%= post.keyword %></title>
	</head>
	<body>
		<center>
            <div id="preview" style="background-image: url('../<%= post.img %>');">
                <p id="CatchWord"><%= post.keyword %></p>
            </div>
            <div style="margin-top: 200px;"></div>
			<h1><%= post.title %></h1>
            <input type="hidden" id="sourceText" value="<%= post.text %>"/>
            <div id="postText"></div>
            
        
            <h3 style="text-align: left;">Vos remarques :</h3>
            <form class="form-horizontal" method="post" action="/comment">
                
                <input type=hidden name="keyword" value="<%= post.keyword %>"/>
                <input type=hidden name="title" value="<%= post.title %>"/>

                <div class="form-group">
                    <textarea class="form-control" rows="5" name="content" required></textarea>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="email" class="form-control" placeholder="john.doe@mail.com" style="height: 40px;" name="email" required>
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-lg" type="submit">
                                <i class="glyphicon glyphicon-send"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </form>            

		</center>
        <footer>
            <center>
                <a href="/blog">Billets</a>
            </center>
        </footer>
        <script src="../js/jquery.js"></script>
        <script>
            $(document).ready(function(){
                var htmlString = $('#sourceText').val();
                $('#postText').html(htmlString);

            });
        </script>
	</body>
</html>