<div class="overlay" id="modifeleve_modal_<%= eleve.matricule%>" style="display: none">
    <div class="modal">

        <header>
            <h1>
                <%= eleve.prenom + ' ' + eleve.nom%>
            </h1>
        </header>

        <div class="modal_content">
            <h2>Modifiez les informations de cet élève</h2>

            <form method="post" action="../eleve/modify/<%= eleve.matricule %>" style="font-size: 0.5em;" id="modifeleve_form_<%= eleve.matricule %>" enctype="multipart/form-data">

                <div class="modal_adresse">
                    <input class="rue" type="text" name="prenom" placeholder="Prénom de l'élève" required value="<%= eleve.prenom%>">
                    <input type="text" name="nom" placeholder="Nom de l'élève" required value="<%= eleve.nom%>">

                    <p><br></p>

                    <input type="text" name="sexe" placeholder="Sexe" required value="<%= eleve.sexe%>">

                    <p><br></p>

                    <input class="rue" type="text" placeholder="Date de naissance" name="date_naissance" required value="<%= eleve.date_naissance%>">
                    <div class="cp_ville">
                        <input class="cp" type="text" placeholder="Vile de naissance" name="ville_naissance" required value="<%= eleve.ville_naissance%>">
                        <input type="text" placeholder="Pays de naissance" name="pays_naissance" required value="<%= eleve.pays_naissance %>">
                    </div>

                    <p><br></p>

                    <input class="rue" type="text" name="etablissement_precedent" placeholder="Etablissement précédent" value="<%= eleve.etablissement_precedent %>">
                    <input type="text" name="date_inscription" placeholder="Date d'inscription" value="<%= eleve.date_inscription %>">

                    <p><br></p>

                    <div class="modal_adresse">
                        <input class="rue" type="text" name="nom_medecin" placeholder="Nom du médecin" value="<%= eleve.nom_medecin %>">
                        <input class="rue" type="text" name="prenom_medecin" placeholder="Prénom du médecin" value="<%= eleve.prenom_medecin %>">
                        <input type="text" name="telephone_medecin" placeholder="Téléphone du médecin" value="<%= eleve.telephone_medecin %>">
                    </div>

                    <textarea name="remarques_medicales" placeholder="Remarques médicales" value="<%= eleve.remarques_medicales %>"></textarea>

                    <input type="file" name="convocation">
                    <input type="file" name="bulletin">
                </div>

                <div class="form_bottom">
                    <a class="cancel_button" type="submit" onclick="javascript:toggle_modal('modifeleve_modal_<%= eleve.matricule%>');">Annuler</a>
                    <a class="submit_button" href="javascript:{}" onclick="document.getElementById('modifeleve_form_<%= eleve.matricule %>').submit(); return false;">Modifier</a>
                </div>
            </form>
        </div>

    </div>
</div>
