<% if(eleve == null) { %>
    <section>
            
        <p id="hey">Cet identifiant ne correspond à aucun élève.</p>

    </section>
<% } else { %>

<section>
    
    <p id="hey">Bienvenue <%= eleve.prenom %></p>
    
    <% if(eleve.photo) {%>
        <img title="profilPicture" src="/photos/<%= eleve.matricule %>.jpg" onclick="javascript:toggle_modal('newphoto_modal');">
    <% } else { %> 
        <a class="button" onclick="javascript:toggle_modal('newphoto_modal');">Télécharger une photo</a>
    <% } %>
    
    <% if(eleve.classe) { %>
        <p id="classe"><%= eleve.classe.niveau + ' '+ eleve.classe.nom %></p>
    <% } %>
    
    <div class="row">

        <div class="clickable card" onclick="javascript:toggle_modal('newadresse_modal');">
            <h1>Adresse</h1>

            <% if(eleve.adresse) { %>
            
            <div class="adresse">
                <p class="rue"><% if(eleve.adresse.adresse) {%> <%=eleve.adresse.adresse%> <%}%></p>
                <p class="ville"><% if(eleve.adresse.adresse) {%><%= eleve.adresse.cp+' '+eleve.adresse.ville %><%}%></p>
            </div>
            
            <% } else { %>
                
               <p>Aucune adresse enregistrée.</p>
                <a class="button" onclick="javascript:toggle_modal('brandnewadresse_modal');">Ajouter une adresse.</a>
            <% } %>
            
        </div>
        
        <div class="clickable card"  onclick="javascript:toggle_modal('newcontact_modal');">
            <h1>Contact</h1>

            <div class="contact">
                <% if(eleve.adresse && (eleve.adresse.telephone_domicile || eleve.adresse.telephone_mobile || eleve.adresse.email)){%>
                
                <p class="phone">Dom. : <%= eleve.adresse.telephone_domicile %></p>
                <p class="phone">Mob. : <%= eleve.adresse.telephone_mobile %></p>
                <p class="email">Email : <%= eleve.adresse.email %></p>
                
                <%} else {%>

                    <p>
                        <a class="button">Ajouter un moyen de contact</a>
                    </p>
                <%}%>
            </div>
        </div>
        
    </div>
    
    <div class="row">

        <div class="card">
            <h1>Administratif</h1>
            
            <p>Né(<%= eleve.sexe %>) le <%= eleve.date_naissance %> à <%= eleve.ville_naissance %>, <%= eleve.pays_naissance %></p>
            
            <p>Etablissement précédent : <%= eleve.etablissement_precedent %></p>
            <p>Inscrit le <%= eleve.date_inscription %>.</p>
    
        </div>
        
        <div class="card">
            <h1>Mot de passe</h1>

            <a class="button" onclick="javascript:toggle_modal('newpassword_modal');">Changer de mot de passe</a>
        </div>
        
    </div>

</section>

<!-- ### MODALS ### -->

<% include modal/newphoto %>

<% include modal/newadresse %>

<% include modal/newcontact %>

<% include modal/newpassword %>


<% } %>