<% if(eleve == null) {%>

    <section>
        <p id="hey">Cet identifiant ne correspond à aucun élève.</p>
    </section>

    <%}else{%>

        <section>

            <div class="row">
                <% if(eleve.contacts[0]) { %>

                    <% eleve.contacts.forEach(function(contact){%>

                        <% include modal/newcontacts %>

                            <div class="clickable card" onclick="javascript:toggle_modal('newcontacts_modal_<%= contact.matricule%>');">
                                <h1>
                                    <%= contact.prenom_contact + ' '+ contact.nom_contact%>
                                </h1>

                                <div>
                                    <p>
                                        <%= contact.adresse %>
                                    </p>
                                    <p>
                                        <%= contact.cp+' '+contact.ville %>
                                    </p>
                                    <p><br></p>
                                    <p>Dom.
                                        <%= contact.telephone_domicile %>
                                    </p>
                                    <p>Mob.
                                        <%= contact.telephone_mobile %>
                                    </p>
                                    <p>Email
                                        <%= contact.email %>
                                    </p>
                                </div>
                            </div>

                            <%});%>

                                <% if(eleve.contacts.length < 3){ %>
                                    <% include modal/brandnewcontact %>

                                        <div class="card">
                                            <a class="button" onclick="javascript:toggle_modal('brandnewcontact');">Ajouter un contact</a>
                                        </div>
                                        <%}%>

                                            <%} else {%>

                                                <% include modal/brandnewcontact %>
                                                    <div class="clickable card" onclick="javascript:toggle_modal('brandnewcontact');">
                                                        <p>Aucun contact enregistré.</p>
                                                        <a class="button" onclick="javascript:toggle_modal('newcontacts_modal');">Ajouter un contact</a>
                                                    </div>
                                                    <%}%>
            </div>

        </section>

        <%}%>
